<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user, 50 %>
				<br>
				<%= @user.name %>

			</h1>
		</section>
	</aside>
	<div class="span8">
		<% if @user.tributes.any? %>
			<h3>My Memorials</h3>
			<ol class="tributes">
				<%= render @tributes %>
			</ol>
		<% end %>
	</div>
</div>